/*the structure of the page is HEADER, CONTENT, FOOTER */

:root {
    --page-background-color: #ccbda1;
    --panel-background-color: #ccbda1;
    --panel-border-color: #5c574c;
    --panel-text-color: #black;
    --panel-disabled-text-color: #675f51;
    --tab-background-color-unselected: #887c66;
    --tab-unselected-border-color: #3c3831;
    --tab-background-color-selected: var(--panel-background-color);
    --tab-selected-border-color: var(--panel-border-color);
    --panel-border-thickness: 1px;
    --ui-margin: 5px;
    --font-size: 16px;
    --font-size-small: 12px;
    --font-size-bigger: 24px;
    --file-item-selected-background-color:#a8c6ee;
    --tick-width: 2px;

    
    --slider-border-color: var(--tab-selected-border-color);
    --slider-tick-color: #0000002c;
    --slider-tick-defaultval-color: #5c574c;
    --slider-background-color: transparent;
    --col-sliderhandle: black;

    --alternating-table-row-color: #e7d1a7;
    --button-background-color: var(--panel-background-color);
    --button-pressed-background-color: #e7d1a7;

    --tween-canvas-width: 75;
    --tween-canvas-height: 32;

    --buttongrid-pressed-background-color: grey;

    --about-dialog-width: 300px;
    --about-dialog-backdrop-color: #ccbda188;
}
/* kludge - cf https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar */
/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */
/* end kludge */

body {
    user-select: none;
    margin:0;
    padding:0;
    background-color: var(--page-background-color);
    background-image: url("../img/bg.png") ;
    font-size: var(--font-size);
    /* min-height: 1000px; */
    overflow-y:auto;
    /*vertically center content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_container {
    width:fit-content;
    background-color: transparent;
    
    display: flex;
    flex-direction: column;


    /*horizontally center content*/
    margin: 0 auto;

}

#tab_bar {
    padding-left: 10px;
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;

}

.tab_button {
    /* width: 100px; */
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size-bigger);

    background-color: var(--tab-background-color-unselected);

    border-style:solid;
    border-color: var(--tab-unselected-border-color);
    border-width: var(--panel-border-thickness);
    border-bottom:none;

    margin-left: 5px;
    margin-right: 5px;

    padding-top: 3px;
    cursor: pointer;

}
.tab_button:first-child {
    margin-left: 0;
}
.tab_button:last-child {
    margin-right: 0;
}

.tab_button.active_tab {
    margin-top: 10px;

    background-color: var(--tab-background-color-selected);

    border-style:solid;
    border-color: var(--tab-selected-border-color);
    border-width: var(--panel-border-thickness);
    border-bottom:none;

    /*to remove the border between the active tab
     and the main panel, we extend it down a bit: */
    margin-bottom: calc(-1*var(--panel-border-thickness));
    /* margin-left: calc(-1*var(--panel-border-thickness)); */
    /* margin-right: calc(-1*var(--panel-border-thickness)); */
    /*expand the width to overlap the next/previous tabs a bit*/
    z-index: 1;
    
    padding-top: 6px;

    cursor: default;
}


.tab_page {  
    height: auto;
    /* max-height: 1200px; */
    width: 100%;
    background-color: var(--panel-background-color);
    border-style:solid;
    border-color: var(--panel-border-color);
    border-width: var(--panel-border-thickness);
    display: none;
    flex-direction: row;
    /*big thick drop-shadow*/
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));

    
    height: 606px;
    overflow-y: clip;
    overflow-x: visible;
}

.tab_page.active_tab_page {
    display: flex;
}

#footer {   
    height: fit-content;
    width: fit-content;
    padding-top:5px;
    text-align: center;
    /*align center*/
    margin: 0 auto;
    background-color: var(--alternating-table-row-color);
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:5px;
    box-shadow: 0 0 3px 0 var(--alternating-table-row-color);
}

.left_panel {
    /* height: 100%; */
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
}

.template_list {    
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
    margin: var(--ui-margin);
}

.right_panel_button_list{
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
    margin: var(--ui-margin);
    margin-left: 0;

}

.save_commands {
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
    margin: var(--ui-margin);
}

.centre_panel {
    width: 350px;
    max-height: 600px;

    margin-top: var(--ui-margin);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: var(--ui-margin);

    background-color: transparent;
    border: var(--panel-border-thickness) solid var(--panel-border-color);
    border-bottom:none;

    display: flex;
    flex-direction: column;
}

.centre_header {
    border-bottom: var(--panel-border-thickness) solid var(--panel-border-color);
    margin-top: var(--ui-margin);
    padding-bottom: var(--ui-margin);
    padding-right: var(--ui-margin);
}

.right_panel {
    width: 120px;
    background-color: transparent;
}

.scroll_container {
    /* overflow-x:scroll;
    overflow-y:scroll; */
    overflow-x: hidden; 
    overflow-y:auto;
}

.filelist {
    position:relative;
    padding-top: var(--ui-margin);
    /* margin-bottom: var(--ui-margin); */
    /* padding: var(--ui-margin); */
    display: flex;
    flex-direction: column;
    /* gap: var(--ui-margin); */
    height:100%;
    
    border-style:solid;
    border-width:0;
    border-color: var(--panel-border-color);
    border-top-width: var(--panel-border-thickness);

    /* min-height: 100px;
    max-height: 200px; */
    scrollbar-gutter: stable;
    padding-right:13px;
}

.file_item {
    display: flex;
    padding:0;
    padding-right: var(--ui-margin);

    /* height: 25px; */
    /*align the text vertically*/
    /* padding-top: 5px; */
}

/*unselected: */
.file_item.modified {
    color: var(--panel-disabled-text-color);
}

.file_item.file_selected {
    background-color: var(--file-item-selected-background-color);
}


.file_item_name {
    padding-left: 3px;
    display:inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 18px);
    height:100%;
}

.file_item_name.modified_filename {
    color:rgb(78, 78, 78);
    font-style: italic;
}

.file_item_name.modified_filename::after {
    content: "*";
}

.delete_button {
    display:flex;
    /* float:right; */
    font-size: var(--font-size);
    padding:0;
    margin:0;

    width:15px;
    height:15px;

    text-align: center;
}

.delete_button img {
    width:10px;
    height:10px;
}
table.paramtable {
    width:100%;    
    border-collapse: collapse;
}

.centre_params .paramtable tr {
    border-bottom: var(--panel-border-thickness) solid var(--panel-border-color);
}

/* alternating row colors - cludged to deal with the fact that there are two tables...*/
.paramtable tr:nth-child(even) {
    background-color: var(--alternating-table-row-color);
}

.centre_params .paramtable tr:nth-child(even) {
    background-color: var(--panel-background-color);
}
.centre_params .paramtable tr:nth-child(odd) {
    background-color: var(--alternating-table-row-color);
}
/* cludge end */

.padded_item {
    padding-left: var(--ui-margin);
    padding-right: var(--ui-margin);
    white-space: nowrap;
}

/* 3 column grid */
.button_grid_3c {
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--ui-margin);

}

/* 4 column grid */
.button_grid_4c {
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--ui-margin);
}

/* 5 column grid */
.button_grid_5c {
    width:100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--ui-margin);
}

.button_grid_button.selected {
    /* background-color: var(--buttongrid-pressed-background-color); */
    /* set disabled */
    /* opacity: 1.0;    */
    /* color: var(--panel-text-color); */
    /* border-color: transparent; */
    /* border-radius:2px; */
}
.lock_icon.unlocked {
    opacity: 0.4;
}


.slider_container {
    position: relative;
    width: var(--sliderwidth);
    padding-right: var(--ui-margin);
    padding-left: var(--ui-margin);
}

.transition_container {
    position: relative;
    width: var(--sliderwidth);
    padding-right: var(--ui-margin);
    padding-left: var(--ui-margin);
}

.parameter_slider {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 2; /* Place above ticks for interaction */
}

.slider_ticks {
    position: absolute;
    top: 20px; /* Position below the slider */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Even spacing */
    padding: 0 10px; /* Adjust based on browser's track start/end */
}

.slider_tick {
    width: var(--tick-width);
    height: 10px;
    background-color: var(--panel-border-color);
}


.tooltip{
    position: absolute;
}

td.lockcolumn {
    width: 15px;
}

td.labelcolumn {
    width:max-content;
    
}

.centre_params {
    position:relative;
    height:100%;
    width:100%;
}



.parameter_name {
    float: right;
    font-size: var(--font-size-small);
    width: 100%;
    text-align: right;
    cursor: default;
    user-select: none;
}

.display_canmvas {
}
.display_canvas_container {
    margin-top: var(--ui-margin);
    margin-right: var(--ui-margin);
    margin-bottom: var(--ui-margin);
    border: var(--panel-border-thickness) solid var(--panel-border-color);    
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
/* 
button {
    background-color: var(--button-background-color);
    border: var(--panel-border-thickness) solid var(--panel-border-color);
    border-radius: var(--ui-margin);    
}

button:active {
    background-color: var(--button-pressed-background-color);
}
*/

 .lockcolumn {
    /*not selectable*/
    user-select: none;
 }

 .normie_checkbox {
    margin:0;
    margin-right: var(--ui-margin); 
 }

 .padleft {
    padding-left: var(--ui-margin);
 }

 .lockimage {
    width: 15px;
    height: 15px;
    margin:0;
    padding:0;
    margin-left: var(--ui-margin);
    background-image: url("../img/locked.png");
    background-repeat: no-repeat;
    background-position: center;
 }

 .lockimage.unlocked {
    background-image: url("../img/unlocked.png");
    opacity: 0.4;
 }



 input[type=range].input-knob:focus,input[type=range].input-slider:focus{
    outline:none;
    box-shadow:none;
  }

  .tween_select_canvas {
    background-color: transparent;
    display: inline-block;
    width: var(--tween-canvas-width);
    height: var(--tween-canvas-height);
    border: var(--panel-border-thickness) solid var(--panel-border-color);
    margin-top: var(--ui-margin);
    /*stretch the image to fit the width*/
    object-fit: contain;
    object-position: center;
  }





  /* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding: 0;
    display: none;
    position: absolute;
    background-color: var(--panel-background-color) ;
    /* min-width: 230px; */
    /* border: var(--panel-border-thickness) solid var(--panel-border-color); */
    z-index: 1;
    /*no gaps between the images*/
    flex-direction: row;
    gap: 0;
  }
  
  .dropdown-content .tween_select_canvas {
    padding:0;
    margin:0;
  }

  .dropdown-content img:hover {
    background-color: var(--button-pressed-background-color);
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .dropdown-content.show {
    left:0;
    transform: translateX(50%);
    width:var(--tween-canvas-width);
    display:flex;
    flex-direction: column;
    gap: 0;
  }

  .dropdown-content img {
    display:block;
  }

  /*don't double-up borders between two adjacent images in a dropdown-content*/
  .dropdown-content img:not(:last-child) {
    border-bottom: none;
  }

  form{
    display:inline;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
  }


  /* MODAL DIALOG STUFF BEGIN */
  ::backdrop {
    background-color: var(--about-dialog-backdrop-color);
    backdrop-filter: blur(5px);
  }

  
  dialog {
    background-color: var(--panel-background-color);
    border: var(--panel-border-thickness) solid var(--panel-border-color);
    padding: var(--ui-margin);
    /*drop shadow*/
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
    width: fit-content;
  }

  dialog button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--ui-margin);
  }

  dialog h2 {
    margin-top: var(--ui-margin);
  }

/* About Dialog Tabs */
#about-dialog {
    width: fit-content;
    height: fit-content;
    padding: var(--ui-margin);
    overflow: hidden;
}

.dialog-tabs {
    display: flex;
    padding-left: 10px;
    background-color: transparent;
}

.dialog-tab {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size);
    background-color: var(--tab-background-color-unselected);
    border-style: solid;
    border-color: var(--tab-unselected-border-color);
    border-width: var(--panel-border-thickness);
    border-bottom: none;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 3px;
    cursor: pointer;
}

.dialog-tab:first-child {
    margin-left: 0;
}

.dialog-tab:last-child {
    margin-right: 0;
}

/*non-active tabs*/
.dialog-tab:not(.active) {
    /* transform: translateY(var(--panel-border-thickness)); */
    transform: translateY(var(--ui-margin));
}

.dialog-tab.active {
    background-color: var(--tab-background-color-selected);
    border-color: var(--tab-selected-border-color);
    margin-bottom: calc(-1*var(--panel-border-thickness));
    z-index: 1;
    padding-top: 6px;
    cursor: default;
}

.dialog-content {
    height: 320px;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border-style: solid;
    border-color: var(--panel-border-color);
    border-width: var(--panel-border-thickness);
    padding: var(--ui-margin);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#about-dialog button[autofocus] {
    margin: var(--ui-margin) auto;
}
/* MODAL DIALOG STUFF END */

/* SHORTCUTS DL STUFF BEGIN */
.shortcuts-list {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 10px;
}

.shortcuts-list dt {
    grid-column-start: 1;
    margin: 0;
}

.shortcuts-list dd {
    grid-column-start: 2;
    margin: 0;
}
/* SHORTCUTS DL STUFF END */


img {
    /*pixelated*/
    image-rendering: pixelated;
}