:root {
    --sliderheight: 15px;
    --sliderwidth: 170px;
    --fieldtextwidth: 200px;
    --sliderwidthnarrow: 150px;
    --synthpanelheight: 400px;
    --checkboxbuttonwidth: calc( ( var(--sliderwidth) + 4px) / 6);
    --iconcellwidth: 20px;
    --expandcellwidth: 20px;
    --tabheight: 30px;
    --tab-border-radius: 12px;
    --right-col-width: calc( var(--sliderwidthnarrow) + 21px);
    --logo-canvas-height: 100px;
    --generator-col-width: 150px;
    --container-width: 900px;
    --col-white: #ffffff;
    --col-tanlight: #dbaf85;
    --col-tan: #c89057;
    --col-lightbrown: #a96742;
    --col-mediumbrown: #8f563b;
    --col-shadowbrown: #824e37;
    --col-shadowbrowner: #7a4836;
    --col-darkbrown: #663931;
    --col-lipflesh: #964e41;
    --col-black: #201010;
    --border-thickness: 3px;
    scrollbar-color: var(--col-mediumbrown) var(--col-darkbrown) !important;
    scrollbar-width: thin !important;
    font-size: 80%;
}

.btn-group:first-child {
    padding-top: 4px;
}

.btn-group:last-child {
    padding-bottom: 2px;
}

.buttongroupcheck {
    width: var(--checkboxbuttonwidth);
    height: var(--checkboxbuttonwidth);
}

.btn-group>.btn {
    padding: 2px;
}

.btn-group>.btn:not(:first-child),
.btn-group>.btn-group:not(:first-child) {
    margin-left: 0px;
}

.btn-outline-primary {
    border: none;
    outline: 3px solid var(--col-darkbrown);
    outline-offset: -1.5px;
}

.table-bordered> :not(caption)>* {
    border-width: var(--border-thickness) 0;
}

.slidercell .btn-check:checked+.btn-outline-primary,
.slidercell .btn-check:active+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--col-lipflesh);
    /* outline-color: var(--col-black); */
}



.btn-check:checked+.btn-outline-primary:focus,
.btn-check:active+.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: none;
    background-color: var(--col-tan);
    outline: 3px solid var(--col-black);
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: none;
    background-color: var(--col-tan);
    outline: 3px solid var(--col-black);
}

.btn-outline-primary:hover {
    background-color: inherit;
}

.icon {
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.slider.slider.slider-horizontal {
    margin-left: 1.5px;
    margin-right: 1.5px;
    position: relative;
    top: -4px;
}

.slider-track {
    background-image: none;
    background-color: transparent;
    border-radius: 0px;
    /* outline: 3px solid red; */
    outline-offset: -3px;
    box-shadow: none;
}

.slider-handle.round {}

.slider.slider-horizontal .slider-handle {
    border-radius: 0px;
    width: 6px;
    margin-left: 0px;
    box-shadow: none;
}

.slider.slider-horizontal {
    width: var(--sliderwidth);
    height: var(--sliderheight);
}

.slider.slider-horizontal.slidernarrow {
    width: var(--sliderwidthnarrow);
    height: var(--sliderheight);
}

.slider-handle {
    height: var(--sliderheight);
}

.slider.slider-horizontal .min-slider-handle {
    background-image: none;
    background-color: transparent;
    border-left: var(--border-thickness) solid var(--col-black);
    border-top: var(--border-thickness) solid var(--col-black);
    border-bottom: var(--border-thickness) solid var(--col-black);
    margin-left: -4.5px;
}

.slider.slider-horizontal .max-slider-handle {
    background-image: none;
    background-color: transparent;
    border-right: var(--border-thickness) solid var(--col-black);
    border-top: var(--border-thickness) solid var(--col-black);
    border-bottom: var(--border-thickness) solid var(--col-black);
    margin-left: -1.5px;
}

.slider.slider-horizontal .slider-track {
    width: 100%;
    margin-top: calc(var(--sliderheight) / -2);
    top: 50%;
    left: 0;
}

.slider.slider-horizontal .slider-tick.round {
    border-radius: 0;
    background-color: var(--col-lightbrown);
    background-image: none;
    width: 3px;
    margin-left: -1.5px;
    margin-top: var(--sliderheight);
    box-shadow: none;
    height: 6px;
    opacity: 1.0;
}

.slider.slider-horizontal .slider-tick.round.defaulttick {
    background-color: var(--col-tan);
}

.slider-track-high {
    background-color: transparent;
    border-radius: 0;
    display: none;
    box-shadow: none;
}

.slider-track-low {
    background-color: transparent;
    border-radius: 0;
    display: none;
    box-shadow: none;
}

.slider-selection {
    background: transparent;
    border-radius: 0;
    display: none;
    box-shadow: none;
}

.slider.slider-horizontal .slider-selection {
    background: var(--col-lipflesh);
    border-radius: 0;
    display: block;
    top: 5px;
    height: calc(var(--sliderheight) - 10px);
    outline: 2.2px solid var(--col-lipflesh);
}

.slider.slider-horizontal.singleselect .slider-selection {
    background: transparent;
    border-radius: 0;
    display: block;
    top: 5px;
    height: calc(var(--sliderheight) - 10px);
    outline: 2.2px solid transparent;
}

.slider.slider-horizontal.singleselect .min-slider-handle {
    background-image: none;
    background-color: var(--col-tanlight);
    border: none;
    margin-left: -1.5px;
    top: 3px;
    width: 3px;
    height: calc(var(--sliderheight) - 6px);
}

.slider.slider-horizontal .slider-track {
    height: calc(var(--sliderheight));
}

.slider.slider-horizontal .slider-rangeHighlight.category1 {
    background: var(--col-tanlight);
    border: 1.5px solid var(--col-tanlight);
    transform: translate(-1.5px, 0);
    outline: 0;
    top: 3px;
    height: calc(var(--sliderheight) - 6px);
}

.slider-border {
    position: relative;
    float: left;
    width: calc(var(--sliderwidth) + 9px);
    height: 100%;
    /* background-color: blue; */
    left: -4.5px;
    border: var(--border-thickness) solid var(--col-darkbrown);
}

.slidernarrow>.slider-border {
    position: relative;
    float: left;
    width: calc(var(--sliderwidthnarrow) + 9px);
    height: 100%;
    /* background-color: blue; */
    left: -4.5px;
    border: var(--border-thickness) solid var(--col-darkbrown);
}

.mode-tabs {
    width: calc( var(--sliderwidth) + var(--iconcellwidth) + var(--fieldtextwidth) + var(--expandcellwidth));
    border: none;
}

.mode-tabs>.nav-item {
    width: 50%;
}

.mode-tabs>.nav-item>button {
    width: 100%;
    height: var(--tabheight);
    padding-top: 0;
}

.nav-link:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
   that do support :focus-visible */
    background: transparent;
    outline: 0;
}

.nav-link:focus-visible {
    /* Remove the focus indicator on mouse-focus for browsers
   that do support :focus-visible */
    background: transparent;
    outline: 0;
}

.mode-tabs>.nav-item>.nav-link {
    background-color: transparent;
    color: var(--col-shadowbrowner);
    font-weight: 500;
    border-radius: 0px;
    border: var(--border-thickness) solid var(--col-shadowbrowner);
    border-bottom: 0;
    border-top-left-radius: var(--tab-border-radius);
    border-top-right-radius: var(--tab-border-radius);
}

.mode-tabs>.nav-item>.nav-link.active {
    background-color: transparent;
    color: var(--col-black);
    font-weight: 500;
    border-radius: 0px;
    border: var(--border-thickness) solid var(--col-darkbrown);
    border-bottom: 0;
    border-top-left-radius: var(--tab-border-radius);
    border-top-right-radius: var(--tab-border-radius);
}

.synth-panel {
    outline: 3px solid var(--col-darkbrown);
    outline-offset: -3px;
    height: var(--synthpanelheight);
    width: calc( var(--sliderwidth) + var(--iconcellwidth) + var(--fieldtextwidth) + var(--expandcellwidth));
    overflow-y: scroll;
    overflow-x: hidden !important;
}


/* width */

::-webkit-scrollbar {
    width: 17px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
    border: var(--border-thickness) solid var(--col-darkbrown);
    border-top: 0;
    border-bottom: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background-color: var(--col-darkbrown);
    border: 5px solid transparent;
    border-top: var(--border-thickness) solid transparent;
    border-bottom: var(--border-thickness) solid transparent;
    border-radius: 0px;
    background-clip: content-box;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-color: var(--col-darkbrown);
    border: 5px solid transparent;
    border-top: var(--border-thickness) solid transparent;
    border-bottom: var(--border-thickness) solid transparent;
    border-radius: 0px;
    background-clip: content-box;
}

body {
    background-color: var(--col-mediumbrown);
}

td {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 3px !important;
    margin: 0 !important;
    vertical-align: top;
    color: var(--col-black);
}

tr td {
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}

tr td {
    padding-top: 0px !important;
    padding-bottom: 3px !important;
}

.slider-horizontal {
    margin-bottom: 3px;
    margin-top: 6px;
}

tr:first-child td {
    padding-top: 3px !important;
}

.iconcell {
    width: var(--iconcellwidth);
    padding: 0 !important;
    padding-left: 3px !important;
    padding-top: 2px !important;
    margin: 0 !important;
}

.fieldtext {
    width: var(--fieldtextwidth);
}

.slidercell {
    width: calc( var(--sliderwidth) + 13px);
    padding-right: 0 !important;
}

.expandcell {
    width: var(--expandcellwidth);
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 2px !important;
    padding-bottom: 4px !important;
}

.tableborder {
    border: var(--border-thickness) solid var(--col-darkbrown);
}

.tableborder.fieldtext {
    border-left: 0;
    border-right: 0;
    text-align: right;
    font-weight: 500;
}

.globalvolsliderdiv>.fieldtext {
    font-weight: 500;
    color: var(--col-black);
}

.timevaryrow>.fieldtext {
    font-weight: 300;
    border-top: 0;
}

.tableborder.slidercell {
    border-left: 0;
    border-right: 0;
}

.tableborder.iconcell {
    border-right: 0;
    vertical-align: center;
    text-align: center;
    padding-left: 6px !important;
}

.tableborder.expandcell {
    border-right: 0;
    border-left: 0;
    padding-right: 6px !important;
    padding-left: 3px !important;
    vertical-align: center;
    text-align: center;
}

.slidercell {
    border-right: none;
}

.table {
    margin-bottom: 0;
}

.tableborder tbody {
    border: none;
}

.tableborder tr:first-child td {
    border-top: none;
}

.tableborder tr:last-child td {
    border-bottom: none;
}

.tableborder tr td:first-child {
    border-left: none;
}

.tableborder tr td:last-child {
    border-right: none;
}

.tableborder.timevaryrowheading {
    border-bottom: var(--border-thickness) solid var(--col-shadowbrown);
}

.tableborder.timevaryrow {
    border-top: 0;
    border-bottom: 0;
    border-bottom: var(--border-thickness) solid var(--col-darkbrown);
}

.tableborder.mergewithnext {
    border-bottom: var(--border-thickness) solid var(--col-shadowbrown);
}

.tableborder.mergewithnext {
    border-bottom: 0;
    border-bottom: var(--border-thickness) solid var(--col-shadowbrown);
}

.tableborder.mergewithprevious {
    border-top: 0;
}

.tableborder.mergewithprevious td {
    border-top: 0;
}

.padding-0 {
    padding-right: 1px;
    padding-left: 1px;
}

#logo-canvas {
    width: var(--right-col-width);
    height: var(--logo-canvas-height);
    border: var(--border-thickness) solid var(--col-shadowbrown);
    border-radius: 0;
    /*jockey one font via https://danmarshall.github.io/google-font-to-svg-path/*/
    background-image: url("data:image/svg+xml,%3Csvg width='180.402' height='70' viewBox='0 0 180.402 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='svgGroup' stroke-linecap='round' fill-rule='evenodd' font-size='9pt'  style='stroke:%23000;stroke-width:0.0mm;fill:%23a9674280'%3E%3Cpath d='M 89.6 0 L 103.4 0 L 110.5 28.5 L 110.9 28.5 L 118 0 L 131.8 0 L 122.2 33.4 L 132.5 70 L 118.3 70 L 110.9 40 L 110.5 40 L 103.1 70 L 88.9 70 L 99.2 33.4 L 89.6 0 Z M 138.6 70 L 138.6 0 L 165.2 0 A 22.277 22.277 0 0 1 174.954 6.557 A 27.331 27.331 0 0 1 175.95 7.75 Q 180.4 13.4 180.4 21.6 A 26.562 26.562 0 0 1 179.204 29.802 A 20.392 20.392 0 0 1 169.8 41.3 L 179.9 70 L 165.9 70 L 157.4 44.5 L 152.1 44.5 L 152.1 70 L 138.6 70 Z M 63.8 70 L 50.1 70 L 50.1 0 L 86.6 0 L 86.6 12 L 63.8 12 L 63.8 29.5 L 83.6 29.5 L 83.6 41.1 L 63.8 41.1 L 63.8 70 Z M 30.1 70 L 0 70 L 0 0 L 28.5 0 A 19.728 19.728 0 0 1 35.231 4.219 A 24.752 24.752 0 0 1 37.2 6.3 A 16.042 16.042 0 0 1 40.961 15.92 A 20.63 20.63 0 0 1 41 17.2 A 26.908 26.908 0 0 1 40.415 23.018 Q 38.919 29.766 33.6 33 L 33.6 33.4 A 18.191 18.191 0 0 1 39.471 38.385 Q 42.8 42.843 42.8 49.4 A 21.938 21.938 0 0 1 35.507 65.818 A 35.446 35.446 0 0 1 30.1 70 Z M 161.3 12 L 152.1 12 L 152.1 33.3 L 160.7 33.3 Q 162.4 32.9 164.45 29.85 A 12.062 12.062 0 0 0 166.422 24.262 A 15.265 15.265 0 0 0 166.5 22.7 Q 166.5 18.6 164.75 15.5 Q 163 12.4 161.3 12 Z M 13.6 40.2 L 13.6 58.4 L 23.9 58.4 A 8.404 8.404 0 0 0 25.356 57.036 Q 26.312 55.919 27.15 54.3 A 13.233 13.233 0 0 0 28.302 51.237 A 11.074 11.074 0 0 0 28.6 48.7 Q 28.6 45.9 27.4 43.6 A 10.309 10.309 0 0 0 26.281 41.873 A 7.367 7.367 0 0 0 24.4 40.2 L 13.6 40.2 Z M 13.6 12 L 13.6 28.9 L 23.5 28.9 A 8.964 8.964 0 0 0 26.761 25.572 Q 27.9 23.498 27.9 20.7 A 11.853 11.853 0 0 0 27.223 16.611 A 10.233 10.233 0 0 0 23.8 12 L 13.6 12 Z' vector-effect='non-scaling-stroke'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position-x: 5px;
    background-position-y: 5px;
}

.actionscol {
    width: var(--right-col-width);
    border: var(--border-thickness) solid var(--col-darkbrown);
    border-radius: 0;
    padding: 3px;
    background-color: transparent;
}

.globalvolsliderdiv {
    margin-left: 3px;
    margin-bottom: 6px;
}

.actionscol .btn,
.generatorcol .btn {
    background-color: var(--col-mediumbrown);
    border: var(--border-thickness) solid var(--col-black);
    border-radius: 0;
    color: var(--col-black);
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-bottom: 3px;
}

.btn:last-child {
    margin-bottom: 0px;
}

.rightlist {
    line-height: 17px;
}

.form-check-input {
    background-color: var(--col-mediumbrown);
    border: var(--border-thickness) solid var(--col-black);
    width: 20px;
    height: 20px;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}

.form-check-input:checked,
.form-check-input:focus {
    background-color: transparent;
    box-shadow: none;
    border: var(--border-thickness) solid var(--col-black);
    border-radius: 0;
    width: 20px;
    height: 20px;
}

.form-check-label {
    color: var(--col-black);
    font-weight: 500;
    margin-top: 3px;
}

.form-check {
    padding-bottom: 1px;
}

.fullwidth {
    width: 100%;
}

.dropdownbutton-big {
    border-right: 0 !important;
    width: calc(var(--right-col-width) - 41px) !important;
}

.dropdownbutton-side {
    width: 30px !important;
}

.columnheader {
    background-color: transparent;
    color: var(--col-black);
    font-weight: 500;
    border-radius: 0px;
    border: var(--border-thickness) solid var(--col-darkbrown);
    border-bottom: 0;
    width: 100%;
    border-top-left-radius: var(--tab-border-radius);
    border-top-right-radius: var(--tab-border-radius);
    text-align: center;
}

.generatorcol {
    width: var(--generator-col-width);
    min-width: var(--generator-col-width);
    max-width: var(--generator-col-width);
}

.generatoroptionscard {
    border: var(--border-thickness) solid var(--col-darkbrown);
    border-radius: 0;
    background: transparent;
    padding: 3px;
}

.generatoroptionscard:nth-child(3) {
    border-top: 0;
}

.list-group-item {
    background-color: transparent;
    border: var(--border-thickness) solid var(--col-shadowbrown);
    border-radius: 0;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--col-black);
    font-weight: 500;
    border-left: 0;
    border-right: 0;
}

.list-group-item:first-child {
    border-top: 0;
}

.list-group-item:last-child {
    /* border-bottom: 0; */
}

.list-group-item.active {
    background-color: var(--col-tan);
    border: var(--border-thickness) solid var(--col-mediumbrown);
    color: var(--col-black);
    border-left: 0;
    border-right: 0;
}


/* detects if in mozilla
@supports (-moz-appearance:none) {
    .list-group {
        border-right: var(--border-thickness) solid var(--col-mediumbrown);
    }
} */

.nopadding {
    padding: 0;
}

.generatoroverflow {
    height: 300px;
    border-right: 0;
}

.oversize {
    height: 101% !important;
}

.form-check-label {
    margin-left: 3px;
}

.container {
    width: var(--container-width) !important;
    max-width: var(--container-width) !important;
    min-width: var(--container-width) !important;
}

.iconimg {
    width: 18px;
    height: 18px;
    border: 2px solid var(--col-darkbrown);
}

input {
    /* display: none; */
}

#javaScriptAccordion {
    display: none;
}

.tooltip-inner {
    background-color: var(--col-black);
    color: var(--col-white);
}

.slider .tooltip.bs-tooltip-top {
    margin-top: -26px;
}

.btn.lock-checkbox {
    background-color: var(--col-mediumbrown);
    background-image: url("../images/symbol_mutation_unlocked.png");
    background-position: center;
    width: 18px;
    height: 18px;
    padding: 0;
    outline: none;
    outline: 2px solid var(--col-darkbrown);
    border-radius: 0;
    ;
}

.btn-check:checked+.btn-outline-primary.lock-checkbox,
.btn-check:active+.btn-outline-primary.lock-checkbox,
.btn-outline-primary.lock-checkbox:active,
.btn-outline-primary.lock-checkbox.active,
.btn-outline-primary.lock-checkbox.dropdown-toggle.show {
    background-color: var(--col-mediumbrown);
    background-image: url("../images/symbol_mutation_locked.png");
    width: 18px;
    height: 18px;
    outline: 2px solid var(--col-darkbrown);
    border-radius: 0;
    ;
}

.btn.timevarying-checkbox {
    background-color: var(--col-mediumbrown);
    background-image: url("../images/symbol_parameter_timestatic.png");
    background-position: center;
    width: 18px;
    height: 18px;
    padding: 0;
    outline: none;
    outline: 2px solid var(--col-darkbrown);
    border-radius: 0;
    ;
}

.btn-check:checked+.btn-outline-primary.timevarying-checkbox,
.btn-check:active+.btn-outline-primary.timevarying-checkbox,
.btn-outline-primary.timevarying-checkbox:active,
.btn-outline-primary.timevarying-checkbox.active,
.btn-outline-primary.timevarying-checkbox.dropdown-toggle.show {
    background-color: var(--col-mediumbrown);
    background-image: url("../images/symbol_parameter_timevarying.png");
    width: 18px;
    height: 18px;
    outline: 2px solid var(--col-darkbrown);
    border-radius: 0;
    ;
}

.timevarying_expanded>.iconcell>.btn {
    visibility: hidden;
}

.timevarying_expanded>.slidercell>div {
    display: none;
}

.timevaryrow {
    display: none;
}

.timevarying_expanded {
    background-color: var(--col-shadowbrown);
    border-bottom: 0 !important;
}

.timevarying_expanded+.timevaryrow {
    display: table-row;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.timevarying_expanded+*+.timevaryrow {
    display: table-row;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.timevarying_expanded+*+*+.timevaryrow {
    display: table-row;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.timevarying_expanded+*+*+*+.timevaryrow {
    display: table-row;
    border-top: 0 !important;
}

.timevaryrow+:not(.timevaryingrow) {
    background-color: red !;
}

.btn-group>.btn {
    border: 0px;
    border-radius: 0px;
}

.btn-check:checked+.btn-outline-primary,
.btn-check:active+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: var(--col-tan);
    border-color: var(--col-tan);
}

.tooltiptext {
    display: none;
}

/*if parent is hovered over, show tooltiptext floating above highighted item - 
should be centered above the item*/
.btn:hover .tooltiptext {
    display:block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--col-black);
    color: var(--col-white);
    padding: 5px;
    border-radius: 5px;
    margin-top: -30px;
    z-index: 1000;
    opacity:0.9;
}